<div class="row">
  <div class="col-md-offset-4 col-md-8">
    <% if @users.any? %>
      <h3><%= @title %> (<%= @users.count %>)</h3>
      <% @users.each do |i| %>
        <ol  class="users follow">
          <section>
          <%= gravatar_for i %>
          <h3><%=link_to i.name, i %></h3>
          </section>
        </ol>
      <% end %>
    <% end %>
  </div>
</div>